<style>
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4C7000;
    font-family: Trebuchet MS;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
    font-family: Trebuchet MS;
  }

  p {
    font-family: Trebuchet MS;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }

  a {
    font-family: Trebuchet MS; color: blue;
  }

</style>

<div class="row">
  <h1>Employers' control </h1>
  <p>Manage the employers' data here. </p>
</div>

<div class="row">
  <h2>Options: </h2>

  <a routerLink="create">Create employer</a><br>
  <a routerLink="list">List all employers</a><br>

</div>
